div.page-contents-wrapper {
    background-color: #F2F2F2;
}

div.reporting-manager-box {

}

header {
    color: #26415C;
    font-weight: 600;
    font-size: 30px;
    font-family: 'Poppins', Poppins, 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    flex-direction: row;
}

title {
    padding: 16px;
}

div.content {
    display: flex;
}
