img.avatar {
  border-radius: 50%;
}

p.employeeName {
    color: #26415C;
    font-size: 18px;
    font-family: Poppins, serif;
    font-weight: 600;
    line-height: 1.5;
}

p.employeeTitle {
    color: #868D98;
    font-size: 14px;
    font-family: Poppins, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 600;
    line-height: 1.5;
}

div.selectedEmployeeContainer {
    width: 97%;
    background-color: #FFFFFF;
    padding: 2px;
    border-radius: 5px;
    flex-flow: column;
    align-items: center;
}

div.container {
    width: 97%;
    padding: 2px;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

a.link-wrapper {
    font-size: 12px;
    font-family: Poppins,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 400;
    line-height: 1.43;
    text-decoration: none;
}

a.link-wrapper:hover {
    text-decoration: underline;
}

div.loader {
    height: 1000px;
}

td.google-visualization-orgchart-node.google-visualization-orgchart-node-small {
    border: 1px solid #26415C;
    padding: 0;
    min-width: 130px;
}

td.google-visualization-orgchart-linebottom {
    border-bottom: 2px solid #26415C;
    display: table-cell;
}

td.google-visualization-orgchart-lineleft {
    border-left: 2px solid #26415C;
    display: table-cell;
}

td.google-visualization-orgchart-lineright {
    border-right: 2px solid #26415C;
    display: table-cell;
}

td.google-visualization-orgchart-linetop {
    border-top: 2px solid #26415C;
    display: table-cell;
}