body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-title {
  width: 80% !important;
  padding-left: 20px !important;
  max-width: 1400px;
  min-width: 800px;
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
  padding-bottom: 16px !important;
  position: absolute;
  bottom: 30px !important;
}

.page-title-wrapper {
  background-color: #26415C;
  height: 125px !important;
  margin-top: 0px !important;
  position: relative;
  z-index: 0;
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background:transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #26415C; 
}
