.profile-card-wrapper {
  width: 281px;
  height: 110px;
  background: #FFFFFF;
  border: 1px solid #9D9D9D;
  box-sizing: border-box;
  border-radius: 10px;  
}

.profile-card-list-button-permanent {
  display: flex;
  width: 157px;
  height: 32px;
  background: #E5E5E5;
  border: none;
  border-radius: 10px;
  color: #000000;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.profile-card-list-button-contractor {
  display: flex;
  width: 157px;
  height: 32px;
  background: #005CAB;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  margin: auto;
}